bin/
obj/
Buildlog-*\.txt

*.suo
*.user
*.lock.json
LaunchSettings.json

.vs/
Nuget/
packages/

# Tests
/Tests/
/DiscUtils/
/System/
/Library/
/Utilities/
/Utilities_java/
tmp
Tests_Java
DiscUtils.sln
appveyor.yml
DiscUtils.sln.DotSettings
GitVersion.yml
SigningKey.snk
Version.template.props
lib
.pmd
local.properties
